body, * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(64, 64, 74);
}

body a:hover {
    color: rgb(255, 255, 255);
}

.wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}

.wrap .header {
    display: flex;
    align-items: center;
    background-color: rgb(81, 101, 228);
}

.wrap .header  img {
    filter: invert(100%);
    height: 120px;
}

.wrap .header ul {
    display: flex;
}
.wrap .header ul li {
    padding: 1rem;
}
.wrap .header a {
    color: #fff;
}

.wrap .content {
    width: 100%;
    min-width: 600px;
    margin: 0;
}

.wrap .content .article {
    margin: 0 auto;
    padding: 64px 0 48px;
    max-width: 600px;
    line-height: 1.4;
}

.wrap .content .article h1, h2, h3 {
    font-size: 3.75rem;
    padding-bottom: 0.35;
    text-align: center;
}

.wrap .content .article p {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem 1rem;
}

.wrap .content .article img {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
}

.wrap .content .article .buttons {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items:center;
}

.wrap .content .article .buttons button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 4px;
    border: 2px solid;
    border-radius: 4px;
    align-content: space-around;
}